@import url(reset.css);

#wrapper{
	width:1024px;	
	margin:0 auto;
}
#topLines{
    height:18px;
    background-image:url(../images/topLine.png);
    background-repeat: repeat-x;
    background-color: #cccccc;
}
#header{
    height: 157px;   
    position: relative;
    
}
#logo{
    width: 257px;
    height: 92px;
    top: 29px;
    left: 54px;
    background-image:url(../images/logo.png);
    background-color: #ffffff;
    background-repeat: no-repeat;
    outline: 0px solid #cccccc;
    position: absolute;
}
#logo a{    
    display: block;
    cursor: pointer;
    height: 92px;
}
#faq{
    width:82px ;
    height:164px ;
    position: absolute;
    top:-18px ;
    right:42px ;
    background-image: url(../images/faq.png);
    background-repeat: no-repeat;
}
#faq a{
    display: block;
    cursor: pointer;
    height: 164px;
}
#nav {
    position: absolute;
    width: 520px;
    height: 30px;
    left: 377px;
    top: 56px;    
}
#nav li{
    float: left;
    margin-right: 27px;
}
#nav li a{
    text-decoration: none;
    text-transform: uppercase;
    font: 16px Arial, sans-serif;
    color: #3f3f3f;
}
#nav li a.active,#nav li a:hover {
    color:#2c789c;
}

/*Конец блока header*/

/*Начало блока people*/

#people{
    height: 404px;   
    background-image:url(../images/peopleBg.jpg);
    background-repeat: no-repeat;
    background-position:74px 53px;
    position: relative;
}
#peopleImg {
    width: 398px;
    height: 391px;
    position: absolute;
    background-image:url(../images/people.jpg);
    background-repeat: no-repeat;
    right: 55px;
    top: -5px;
    z-index: 5;
}
#slogan{
    width: 372px;
    height: 80px;
    position: absolute;    
    top:205px ;
    right:645px;
    text-align: right;  
    padding-top:5px;  
}
#slogan h1{
    font: bold 23px Arial, sans-serif;
    color:#1d1e1b;
    text-transform: uppercase;
}
#slogan p{
    font: 16px Arial, sans-serif;
    color:#2c789c;
}
#forLine{
    height: 96px;
    width: 1024px;
    position: absolute;
    bottom: 0;
    left: 0;    
    background-image:url(../images/forLineBg.png);
    background-repeat: repeat-y;
    z-index: 3;
}

/*Конец блока people*/

/*Начало цветного блока */
#colors{
  
    background-image:url(../images/colorsBg.png);
    background-repeat: repeat-y;     
    padding: 0 49px 0 42px;
}
#blue{
    
    width: 292px;
    float: left;
    background-color: #2c789c;
    padding-left: 14px;
    background-image:url(../images/e1.png);
    background-repeat: no-repeat;
    background-position: 250px 10px;
    
}
#yellow{
    
    width: 302px;
    float: left;
    background-color: #e5b00d;
    padding-left: 19px;
    background-image:url(../images/e2.png);
    background-repeat: no-repeat;
    background-position: 267px 10px;
}
#green{
    
    width: 282px;
    float: left;
    background-color: #97ba15;
    padding-left: 24px;
    background-image:url(../images/e3.png);
    background-repeat: no-repeat;
    background-position: 251px 10px;
    
}
#blue, #yellow, #green{
    color: #ffffff;
    padding-top: 13px;
    position: relative;
}
#blue h2, #yellow h2, #green h2{
    font:19px Arial, sans-serif;
    padding-bottom: 10px;
}
#colors p{
    font:16px Arial, sans-serif;
    padding-bottom: 10px;
    overflow: hidden;
}
#colors a{
    text-decoration: none;
    color: #525252;
    font:16px Arial, sans-serif;
    display: block;
    width: 99px;
    height: 26px;
    background-image:url(../images/readMore.png);
    background-repeat: no-repeat;
    cursor: pointer;
    padding: 4px 10px;
    margin-bottom: 4px;
}
.clear{
    clear: both;
}
#romb1{
    width: 24px;
    height: 49px;
    position: absolute;
    background-image:url(../images/e4.png);
    background-repeat: no-repeat;
    top:49px ;
    left:-1px ;
}
#romb2{
    width: 24px;
    height: 49px;
    position: absolute;
    background-image:url(../images/e5.png);
    background-repeat: no-repeat;
    top:49px ;
    left:-1px ;
}

#green p,#green a{
    margin-left: 6px;
}

#yellow p,#yellow a{
    margin-left: 9px;
}

/*Конец цветного блока */
/*Начало черно-белого блока */
#blackAndWhite
{
    height: 225px;    
    background-image:url(../images/colorsBg.png);
    background-repeat: repeat-y;
    position: relative;
    padding: 17px 55px 30px 55px;
}
#bLeft{
    position: absolute;
    height: 100px;
    width: 36px;
    left: 0;
    bottom: 0;
    background-image:url(../images/bLeft.png);
    background-repeat: no-repeat;
}
#bRight{
    position: absolute;
    height: 100px;
    width: 37px;
    right: 0;
    bottom: 0;
    background-image:url(../images/bRight.png);    
    background-repeat: no-repeat;
}
#bBottom{
    position: absolute;
    height: 1px;
    width: 956px;
    left: 35px;
    bottom: 0;
    background-image:url(../images/bBottom.png);    
    background-repeat:repeat-x;
}
#bContent{
    width: 620px;
    height: 225px;
    float: left;
    
}
#bForm{
    width: 264px;
    height: 225px;
    float: left;    
    margin-left: 20px;
}
#bContent h2,#bForm h2{
    font: 24px Arial, sans-serif;
    color: #000000;
    margin-bottom: 6px;
}
#bContent h2{
    height: 34px;
    margin-bottom: 0;  
     overflow: hidden;
}
#bContent p.strong{
    height: 56px;
    color: #1d1e1b;
    font: bold 16px Arial, sans-serif; 
    margin-bottom: 0px;   
    overflow: hidden; 
}

#bContent p{
    height: 109px;
    color: #7b7d78;
    font: 16px Arial, sans-serif;  
   overflow: hidden; 
}
#bContent a{
   text-decoration: none;
    color: #b6b7b6;
    font:16px Arial, sans-serif;
    display: block;
    width: 99px;
    height: 18px;
    background-image:url(../images/readMoreBlack.png);
    background-repeat: no-repeat;
    cursor: pointer;
    text-align: center;
    padding: 4px 0;
       
}

#bForm input{
    width: 246px;
    height: 31px;
    border: 1px solid #dedede;
    margin-bottom: 11px;
    color: #bababa;
    font: 16px Arial, sans-serif;
    line-height: 31px;
    padding-left: 15px;
}
#bForm input.button{
    width: 99px;
    height: 26px;
    border: none;   
    margin:26px 0 0 0px;
    padding-left: 0px;  
}

/*Конец черно-белого блока */

/*Начало  черного блока */

#dark{
    background-color: #1d1e1b;
    padding: 13px 30px 14px 41px;
}

#planning,#team,#blog{
    height: 403px;
    float: left;
    
}
#planning{
    width: 289px;
   
}
#team{
    width: 289px;
    margin-left: 39px;
}

#blog{
    width: 297px;
    margin-left: 39px;    
}
#dark h3{
    height: 27px;
    font: 19px Arial, sans-serif;
    color: #ffffff;
    text-transform: uppercase;
    overflow: hidden;
    
}
#imgDark1{
    width: 289px;
    height: 115px;
    background-image:url(../images/dark1.jpg);
    background-repeat: no-repeat;
    
}
#planning p,#team p{
    font: 12px Arial, sans-serif;
    color: #94998f;
    overflow: hidden;
    height: 226px;
    padding-top: 9px;
    
}
#planning a,#team a{
    text-decoration: none;
    color: #ffffff;
    font:16px Arial, sans-serif;
    display: block;
    width: 99px;
    height: 18px;
    background-image:url(../images/readMoreBlue.png);
    background-repeat: no-repeat;
    cursor: pointer;
    text-align: center;
    padding: 4px 0;
}

#imgDark2{
    width: 289px;
    height: 115px;
    background-image:url(../images/dark2.jpg);
    background-repeat: no-repeat;    
}
#post1,#post2 {
   height: 125px; 
   
}

#post3 {
     height: 126px;
      
}
#blog span{
   color: #2c789c ;
   text-transform:lowercase;
   font: 16px Arial, sans-serif;
   padding-left: 20px;   
}

#blogImg1{
    width:111px ;
    height: 81px;
    float: left;
    background-image:url(../images/dark3.jpg);
    background-repeat: no-repeat;
    margin-right: 10px;
}

#blogImg2{
    width:111px ;
    height: 81px;
    float: left;
    background-image:url(../images/dark4.jpg);
    background-repeat: no-repeat;
    margin-right: 10px;
}
#blogImg3{
    width:111px ;
    height: 81px;
    float: left;    
    background-image:url(../images/dark5.jpg);
    background-repeat: no-repeat;
    margin-right: 10px;
}
#blog h4{
    font: 13px Arial, sans-serif;
    color: #ffffff;
    
}
#blog p{
    font: 12px Arial, sans-serif;
    color: #94998f;
    
}
#blog a{
    font: 12px Arial, sans-serif;
    color: #2c789c;
    text-decoration: underline;
}
/*Конец  черного блока */

/*Начало  серого блока */

#gray{
background-color: #2e302c;
padding: 15px 30px 35px 40px;    
}

#about{
    width: 300px;    
    float: left;
    
}

#partners{
    width: 628px;
    height: 168px;    
    float: left;
    margin-left: 26px;
}
#gray h2{
    font: 18px Arial, sans-serif;
    color: #ffffff;
    text-transform: uppercase;
    overflow: hidden;
    margin-bottom: 3px;
}
#gray p{
    font: 12px Arial, sans-serif;
    color: #94998f;
    margin-bottom: 6px;
    
}
#gray a{
    color:#2c789c;
    font: 16px Arial, sans-serif;
    text-decoration: none;
}
.partner{
    float: left;    
    width: 275px;
    
}
.partner li{
    font: 11px Arial, sans-serif;
    color:#94998f;
    margin-bottom: 15px;
    padding-left: 22px; 
   background-image:url(../images/plus.png);
   background-repeat: no-repeat; 
   background-position: 0 3px;
}
#p2{
    margin-left: 56px;
}
#p1{
   margin-left: 22px; 
}
/*Конец серого блока */

/*Начало футера */
#footer{
    position: relative;
    height: 154px;
    background-color: #131412;
}
#copy{
    position: absolute;
    top: 81px;
    left: 39px;    
}
#copy, #copy a{
    font: 13px Arial, sans-serif;
    text-decoration: none;
    color: #9b9d99;
}

#footernav {
    position: absolute;
    width: 470px;
    height: 30px;
    right: 36px;
    top: 81px; 
       
}
#footernav li{
    float: right;
    margin-left: 23px;
}
#footernav li a{
    text-decoration: none;
    text-transform: uppercase;
    font: 13px Arial, sans-serif;
    color: #3f3f3f;
}
#footernav li a.active,#footernav li a:hover {
    color:#2c789c;
}

#footerSoc{
    height: 22px;
    width: 160px;
    position: absolute;
    top: 111px;
    right: 36px;    
}
#footerSoc li{
    float: right;
    margin-left: 5px;  
    height: 22px;  
}
#s1{
    width: 21px;
    background-image:url(../images/s1.png);
    background-repeat: no-repeat;    
}
#s2{
    width: 27px;
    background-image:url(../images/s2.png);
    background-repeat: no-repeat;    
}
#s3{
    width: 22px;
    background-image:url(../images/s3.png);
    background-repeat: no-repeat;    
}
#s4{
    width: 62px;
    background-image:url(../images/s4.png);
    background-repeat: no-repeat;    
}
#footerSoc li a{
    height: 22px;
    display: block;
    cursor: pointer;
}